@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
   font-size: 62.5%;
   font-family: "Playfair Display", serif;
   font-weight: 200;
   font-style: normal;
}
/* .playfair-display-<uniquifier> {
   font-family: "Playfair Display", serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
 } */

.playfair-display-heading {
   font-family: "Playfair Display", serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
}

.roboto-thin {
   font-family: "Roboto", sans-serif;
   font-weight: 100;
   font-style: normal;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-size: 1.6rem;
   background-color: #FFFFFF;
   max-width: 2000px;
}

header {
   position: relative;
}

.avatar-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 6rem;
}

.avatar-backdrop {
   background: #0891B2;
   height: 100%;
   width: 100%;
   transform: skewY(-30deg);
   position: absolute;
   z-index: -1;
   top: -55rem;
}

.avatar {
   position: relative;
   width: 85%;
   height: 85dvh;
   margin-top: 5rem;
   background-image: url("./images/HR.jpg");
   background-position: center;
   background-size: cover;
}

.profile-name {
   font-size: 5rem;
   font-weight: bold;
   letter-spacing: .4rem;
   position: absolute;
   bottom: 0rem;
   margin: 3rem;
   color: #262626;
}

.aboutMe-section {
   position: relative;
}

.about {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 3rem 1rem;
   gap: 1rem;
}

.img, .img + h2 {
   display: none;
}

.about article {
   color: #8B8B8B;
}

.profile-links {
   display: flex;
   align-items: center;
   gap: 2rem;
}

.profile-links i, .media-handles i {
   font-size: 2.5rem;
   color: #000;
}

.project-section {
   display: flex;
   flex-direction: column;
   margin: 6rem auto;
   align-items: center;
}

.project-title {
   display: flex;
   justify-content: center;
   flex-basis: 100%;
}

.project-container {
   padding: 2rem 4rem;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 0 auto;
   justify-content: center;
   gap: 6rem 3rem;
}

.projects {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   flex-basis: 45rem;
}

.project-details {
   padding: 0rem 3rem 8rem;
}

.project-image {
   background-color: blue;
   height: 25rem;
}

.project-name {
   display: flex;
   align-items: center;
   gap: 1.5rem;
   padding: 2rem;
}

.project-name h3 {
   margin-right: auto;
}

.project-description {
   color: #575757;
}

footer {
   background: #0891B2;
   color: #fff;
}

.contact-section {
   margin: 5rem 4rem;
   padding-top: 3rem;
}

.contact-section h1 {
   text-align: center;
   font-weight: 600;
   font-size: 3.5rem;
   margin-bottom: 2rem;
}

.contact-section h1 + p {
   font-size: 2rem;
   font-weight: 400;
   margin-bottom: 2rem;
}

.contact-section p:nth-child(5) {
   margin-top: 2rem;
}

.media-handles {
   display: flex;
   justify-content: center;
   gap: 2rem;
   margin-top: 2rem;
}

.footer-image {
   min-height: 50rem;
   background-image: url("./images/HR.jpg");
   background-position: center;
   background-size: cover;
}

@media screen and (min-width: 600px) {
   header, main, footer {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .avatar-backdrop {
      transform: skewY(-15deg);
      top: -30rem;
      z-index: -1;
      height: 55rem;
      width: 100%;
   }
   
   .avatar-section {
      margin-top: 4rem;
   }

   .avatar {
      display: none;
   }

   .about > h2 {
      display: none;
   }

   .img, .img + h2 {
      display: block;
   }

   .aboutMe-section {
      background-color: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 2rem;
      padding-bottom: 5rem;
      margin: 5rem auto;
      margin-right: 12vw;
      margin-left: 12vw;
   }

   .img {
      object-fit: cover;
      object-position: center;
      width: clamp(20rem, 25vw, 30rem);
      height: clamp(25rem, 30vw, 35rem);
      float: left;
      margin: -7rem 1.5rem 1.5rem -10rem;
   }

   .about article {
      color: #000;
      line-height: 1.5;
      
   }

   .about {
      align-items: flex-start;
      font-size: 1.8rem;
   }

   .profile-name {
      font-size: 2rem;
   }

   .profile-links {
      margin-left: auto;
      margin-top: 3rem;
      display: none;
   }

   .projects {
      flex-basis: 30rem;
      height: 40rem;
   }

   .footer-container {
      display: flex;
      flex-direction: row;
      width: 1000px;
      align-items: center;
      margin: 5rem;
   }

   .footer-image, .contact-section {
      flex-basis: 50%;
      margin: 0;
      padding: 0;
   }
}

@media screen and (min-width: 1200px) {

   body {
      max-width: 4000px;
      font-size: 1.8rem;
   }

   .avatar {
      display: block;
   }

   .about > h2 {
      display: block;
   }

   .img, .img + h2 {
      display: none;
   }

   .avatar-backdrop {
      transform: skewY(-10deg);
      top: -30rem;
      z-index: -1;
      height: 70rem;
      width: 100%;
   }

   .avatar-section {
      flex-direction: row ;
      justify-content: center;
      gap: 0;
      margin: 8rem;
      max-width: 1300px; 
   }

   .aboutMe-section {
      background-color: #fff;
      height: max-content;
      flex-basis: 65%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 3rem 1rem 2rem; 
      margin: 0;
   }

   .avatar {
      margin: 0;
      flex-basis: 35%;
      height: 45rem;
   }

   .about article {
      color: #000;
      line-height: 1.5;
      
   }

   .about {
      align-items: flex-start;
      font-size: 1.8rem;
   }

   .profile-name {
      font-size: 2rem;
   }

   .profile-links {
      margin-left: auto;
      margin-top: 3rem;
   }

   .projects {
      flex-basis: 35rem;
   }

   .contact-section {
      line-height: 3rem;
   }
   
}